{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_magento_rma_index'),
        'indexLabel': 'RMAs'|trans,
        'entityTitle': 'orocrm.magento.entity_number'|trans({'%entityName%': 'RMA'|trans, '%entityNumber%': entity.rmaId})
    } %}
    {{ parent() }}
{% endblock pageHeader %}


{% block content_data %}
    {% set generalSubblocks = [] %}

    {% set orderInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_magento_rma_widget_info', {id: entity.id}),
            'title': 'RMA Information'|trans
        }) }}
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [orderInformationWidget] }]) %}

    {% if entity.customer.id and resource_granted('orocrm_magento_customer_view') %}
        {% set customerInformationWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('orocrm_magento_customer_info', {id: entity.customer.id}),
                'title': 'orocrm.magento.customer_information'|trans
            }) }}
        {% endset %}
        {% set generalSubblocks = generalSubblocks|merge([{'data' : [customerInformationWidget] }]) %}
    {% endif %}

    {% set dataBlocks = [
        {
            'title': 'orocrm.magento.general_information'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        }
    ] %}
    
    {% if resource_granted('orocrm_magento_cart_view') %}
        {% set orderItemsWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('sellry_magentorma_widget_items', {id: entity.id})
            }) }}
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([
            {
                'title': 'RMA Items'|trans,
                'subblocks': [
                    {'data' : [orderItemsWidget] }
                ]
            }
        ]) %}
    {% endif %}

    {% set relatedInformation = [] %}


    {% if relatedInformation is not empty %}
        {% set dataBlocks = dataBlocks|merge([
            {
                'title': 'orocrm.magento.communications'|trans,
                'subblocks': relatedInformation
            }
        ]) %}
    {% endif %}

    {% set id = 'magentoOrderView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
