{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroAddressBundle::macros.html.twig' as address %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ channel.renderChannelProperty(entity, 'orocrm.magento.rma.data_channel.label') }}
            {% set orderData %}
                <a href="{{ path('orocrm_magento_order_view', {'id': entity.order.id }) }}">{{ entity.incrementId }}</a>
            {% endset %}
            {{ ui.renderHtmlProperty('Order #'|trans, orderData) }}
            {{ ui.renderProperty('Status'|trans, entity.rmaStatus) }}
            {{ ui.renderProperty('Package Opened'|trans, entity.packageOpened) }}
            {{ ui.renderProperty('Request Type'|trans, entity.requestType) }}
            {{ ui.renderProperty('Return Shipping Method'|trans, entity.shippingMethod) }}
            {{ ui.renderProperty('First Name'|trans, entity.firstName) }}
            {{ ui.renderProperty('Last Name'|trans, entity.lastName) }}
            {{ ui.renderProperty('Company'|trans, entity.company) }}
            {{ ui.renderProperty('Telephone'|trans, entity.telephone) }}
            {{ ui.renderHtmlProperty('Return Address'|trans, entity.returnAddress) }}
            {{ ui.renderProperty('Additional information'|trans, entity.notes) }}
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
