{% extends 'OroUIBundle:actions:index.html.twig' %}

{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'orocrm.magento.order.entity_plural_label'|trans %}
{% set gridName = 'magento-order-extended-grid' %}
